---
layout: default
---

<div class="home">

  <h1 class="page-heading">Chapters</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign images = post.content | split:"<img" %}
          {% for image in images %}
            {% if image contains 'src' %}
                {% assign html = image | split:"/>" | first %}
                 <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> <img {{ html }} /> </a>
                {% break %}
            {% endif %}
          {% endfor %}
        <div class="info">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </div>

      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
